<section class='home'>
  <div class='hero'>
    <div class='hero-left'>
      <div class='lato-regular'>Tons of fake friends are waiting for you.</div>
      <div>Fake posts, fake images, fake likes.</div>
      <div>Welcome to fakebook.</div>
      <%= link_to 'Sign in', posts_path %>
    </div>
    <div class='hero-right'>
    </div>
  </div>
  <div class='testimony'>
    <p>"I couldn't believe what my eyes were seeing. And it was all fake, so I 
      shouldn't believe anyway."</p>
    <div class='anonymous'></div>
    <p>Mister M, VP of Illusionism</p>
  </div>
  <div class='cta'>
    <p class='lato-bold'>Ready to start faking?</p>
    <p>Create your own fake posts, with your own fake texts and your own fake
      pictures.</p>
    <p>Connect with your own fake friends.</p>
    <%= link_to 'Sign in', posts_path %>
  </div>
</section>