/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* I organized all CSS files in sections
  * GENERAL SETTINGS
  * ELEMENT SIZE AND POSITIONING
  * COLORS, BACKGROUNDS AND BORDERS
  * FONTS
  * MAKE IT RESPONSIVE
  */

 /* Template for responsive behavior
  * @media (max-width: 1599px) {
  * }
  *  
  * @media (max-width: 1280px) {
  * }
  *
  * @media (max-width: 767px) {
  * }
  *
  * @media (max-width: 360px) {
  * }
  */
  

 /* ADD BORDERS FOR VISUALIZING ELEMENTS */
 /* * {
  border: 1px solid red;
 }*/

/* GENERAL SETTINGS */

* {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.notification-hide-button:hover {
  cursor: pointer
}

.notification-symbol:hover,
.close-symbol:hover {
  cursor: pointer
}

/* ELEMENT SIZE AND POSITIONING */
html, body {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.notification-symbol {
  color: white;
}

.nav-notification-and-links {
  display: flex;
  align-items: center;
}

.nav-links {
  list-style-type: none;
  display: inline-flex;
}

.sign-in-link {
  list-style-type: none;
}

.nav li {
  margin: 0 0.5rem;
}

.nav-sign-in {
  padding: 8px 36px;
}

.footer {
  text-align: center;
  padding: 32px 0px;
}

.footer .logo {
  margin-bottom: 12px;
}

.alert, .notice {
  text-align: center;
  padding: 12px 0;
}

.notifications {
  position: absolute;
  top: 64px;
  right: 240px;
  width: 390px;
  padding: 0px 0 24px 16px;
  visibility: hidden;
}

.notifications h2 {
  margin-top: 0;
  margin-right: 16px;
}

.notification {
  margin: 4px 16px 4px 0;
  padding: 8px 16px 8px 8px;
  display: flex;
}

.notification-info {
  display: flex;
  flex-grow: 1;
}

.notification-hide-form {
  text-align: end;
}

.notification-photo {
  width: 64px;
  height: 64px;
}

.notification-text {
  flex-grow: 1;
  padding: 4px 24px 0 8px;
  margin: 0;
}

.notification-hide-button {
  margin-right: 4px;
}

.notification-hide-button:hover,
.notification-hide-button:focus {
  transform: scale(1.8);
}

.show {
  visibility: visible;
}

.notifications-title-close {
  margin: 8px 8px 0 0;
  text-align: end;
}

.all-notifications-link {
  margin: 16px 16px 0 0;
  text-align: center;
}

.nav-notification-and-links button {
  margin: 16px 0;
  padding: 0;
  display: flex;
  align-items: center;
}

/* COLORS, BACKGROUNDS AND BORDERS */
.post, .comment {
  border: 1px solid black;
}

.error {
  color: #E05100;
}

.field_with_errors #user_email,
.field_with_errors #user_password,
.field_with_errors #user_password_confirmation {
  border: 1px solid #E05100;
}

.field_with_errors #user_email:focus,
.field_with_errors #user_password:focus,
.field_with_errors #user_password_confirmation:focus {
  border: 2px solid #E05100;
  outline: #E05100;
}

.scrolled-into {
  border: 2px solid #E05100;
}

.nav {
  background-color: #8200E0;
  color: white;
}

.nav a {
  color: white;
}

.nav a:link,
.nav a:visited,
.nav a:hover,
.nav a:active {
  text-decoration: none;
}

.footer {
  background-color: #00E0DD;
}

.footer a {
  color: black;
}

.nav-sign-in {
  border: 1px solid white;
  border-radius: 4px;
}

.nav-sign-in:hover {
  color: #8200E0;
  background-color: white;
}

.alert {
  background-color: #E05100;
}

.notice {
  background-color: #C6E000;
}

.notifications {
  background-color: white;
  border: 3px solid #8200E0;
}

.notification {
  border: 1px solid rgb(211, 211, 211);
}

.notification-hide-button {
  background-image: url('visibility_off_FILL0_wght400_GRAD0_opsz24.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  transform: scale(1.5);
  border: none;
}

.notification-info:link,
.notification-info:visited,
.notification-info:hover,
.notification-info:active {
  text-decoration: none;
  color: black;
}

.all-notifications-link a:link,
.all-notifications-link a:visited,
.all-notifications-link a:hover,
.all-notifications-link a:active {
  text-decoration: none;
  color: #8200E0;
}

.notification:hover,
.notification:focus {
  border: 1px solid #8200E0;
}

.notification-symbol {
  color: white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}

.close-symbol {
  color: white;
  background-color: #8200E0;
}

.nav-notification-and-links button {
  border: none;
  background-color: unset;
}

.notifications-unread {
  animation: 1s change-color infinite alternate ease-in;
}

@keyframes change-color {
  50% {
    transform: rotateZ(0deg);
  }

  75% {
    transform: rotateZ(-45deg);
  }

  to {
    font-weight: bolder;
    transform: scale(1.2) rotateZ(45deg);
  }
}

/* FONTS */

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.montserrat-alternates-extrabold {
  font-family: "Montserrat Alternates", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.logo {
  font-size: 24px;
  margin: 0;
}

.nav li a {
  font-size: 18px;
  font-weight: bold;
}

.footer div {
  font-size: 14px;
}

.footer a {
  text-decoration: underline;
}

.all-notifications-link a {
  font-size: 16px;
  font-weight: bold;
}

/* MAKE IT RESPONSIVE */
