/* ELEMENT SIZE AND POSITIONING */
.home {
  display: flex;
  flex-direction: column;
}

.hero {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 40px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  max-width: 420px;
}

.hero-left :first-child, .hero-left :nth-child(3) {
  margin-bottom: 8px;
}

.hero-left :nth-child(3) {
  margin-bottom: 32px;
}

.hero-left a, .cta a {
  padding: 16px 96px;
}

.hero-right {
  height: 480px;
  width: 670px;
}

.testimony {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 120px 40px;
}

.anonymous {
  width: 46px;
  height: 46px;
}

.cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 104px 40px;
}

.cta :nth-child(2), .cta :nth-child(3) {
  margin: 0;
  max-width: 412px;
}

.cta :first-child {
  margin-bottom: 36px;
}

.cta :nth-child(3) {
  margin-bottom: 24px;
}

/* COLORS, BACKGROUNDS AND BORDERS */
.home a:link,
.home a:visited,
.home a:hover,
.home a:active {
  text-decoration: none;
}

.hero-left a, .cta a {
  background-color: #C6E000;
  color: black;
  border-radius: 4px;
  border: 1px solid white;
}

.hero-left a:hover, .cta a:hover {
  border: 1px solid #C6E000;
}

.hero-right {
  background-image: url('clown-svgrepo-com-black-1024.png');
  background-position: center;
  background-size: cover;
  animation-name: change-bg;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-timing-function: steps(2, jump-none);
}

@keyframes change-bg {
  100% {
    background-image: url('clown-with-hat-svgrepo-com-black-1024.png');
  }
}

.anonymous {
  background-image: url('anonymous-1-svgrepo-com-black-256.png');
  background-position: center;
  background-size: cover;
}

.testimony {
  background-color: #C6E000;
}

/* FONTS */
 
.hero-left :first-child {
  font-size: 56px;
}

.hero-left :nth-child(2), .hero-left :nth-child(3) {
  font-size: 20px;
}

.hero a, .cta a {
  font-size: 18px;
}

.testimony :first-child {
  font-size: 24px;
}

.testimony :last-child {
  font-size: 14px;
}

.cta .lato-bold {
  font-size: 24px;
}

.cta :nth-child(2), .cta :nth-child(3) {
  font-size: 20px;
}

/* MAKE IT RESPONSIVE */
@media (max-width: 767px) {
  .hero-right {
    display: none;
  }
}